@charset "utf-8";
/* common */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
    margin:0;
    padding:0;
    color:#212121;
    box-sizing: border-box;
}
b, strong, .bold{
	font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI semibold", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic", "Segoe UI", Verdana, Meiryo, sans-serif;
}
p{
    font-size: 16px;
    line-height: 2em;
}
body{
    background-color: #fafafa;
    color:var(--black);
    width:100%;
    height:100%;
}
:root{
    --black:#212121;
    --white:#fafafa;
    --red:#A81736;
    --blue:#14113D;
    --gray:#F7F6F4;
    --green:#42b983;
    --dark_gray:#32353b;

}
.container{
    max-width:100%;
    height:100%;
    padding:0 8%;
}
.inner{
    margin-left: 10%;
    margin-top:20px;
    margin-bottom: 20px;
    width:80%;
    height:auto;
}
::selection {
    background: #000;
    color: #fff;
}

/* Firefox */
::-moz-selection {
    background: #000;
    color: #fff;
}
.center{
    text-align: center;
    font-weight: 500;
}
.be-ta{
    font-size: 0.5em;
}
header{
    width:100%;
    height:75px;
    border-bottom: solid 1px var(--black);
    background-color: var(--white);
    position: sticky;
    top:0;
}
.top-logo{
    line-height: 75px;
}
.g-nav{
    display: flex;
}
.header-inner{
    display: flex;
    justify-content: space-between;
}
.g-nav-link{
    line-height: 75px;
    padding:0 2rem;
    text-decoration: none;
}
.no-padding{
    padding: 0;
}
/* top-wrapper */
.top-wrapper{
    width:100%;
    height:100vh;
    background-image: url('/img/top-wrapper.jpg');
    background-size: cover;
}
.about-inner{
    width:100%;
    height:auto;
    border:solid 1px var(--black);
    padding:1rem;
}
/* register-wrapper */
.register-wrapper{
    width:100%;
    height:90vh;
}
.register-flex{
    width:100%;
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-input{
    width:100%;
    height:2rem;
    border:none;
    border-bottom: solid 1px var(--black);
    outline: none;
}